{"id":25,"name":"Activity Demo Template","version":"1.0.0","metadata":[{"Name":"Subject","Clue":"Subject","MaxLengthConstraint":50,"MinValueConstraint":0,"IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Activity","Label":"counter-clockwise","Title":"counter-clockwise","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Activity","Label":"shake","Title":"shake","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Activity","Label":"wrist twist","Title":"wrist twist","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30}],"expert_mode":true}