{"id":341,"name":"Gesture Demo Template","version":"1.0.0","metadata":[{"Name":"Subject","IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Gesture","Label":"A"},{"LabelName":"Gesture","Label":"D"},{"LabelName":"Gesture","Label":"L"},{"LabelName":"Gesture","Label":"M"},{"LabelName":"Gesture","Label":"Noise"},{"LabelName":"Gesture","Label":"U"}],"expert_mode":true}