{"id":111,"name":"Gesture Demo Template","version":"1.0.0","metadata":[{"Name":"Subject","Clue":"Subject","MaxLengthConstraint":50,"MinValueConstraint":0,"IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Gesture","Label":"A","Title":"A","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"D","Title":"D","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"L","Title":"L","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"M","Title":"M","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"Noise","Title":"Noise","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"U","Title":"U","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30}],"expert_mode":true}