{"id":112,"name":"Activity Demo Template","version":"1.0.0","metadata":[{"Name":"Subject","Clue":"Subject","MaxLengthConstraint":50,"MinValueConstraint":0,"IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Activity","Label":"Shake","Title":"shake","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Activity","Label":"Twist-Left","Title":"Twist-Left","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Activity","Label":"Twist-Right","Title":"Twist-Right","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30}],"expert_mode":true}