{"id":416,"name":"Activity Demo Template","version":"1.0.0","metadata":[{"Name":"Subject","IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Activity","Label":"Horizontal"},{"LabelName":"Activity","Label":"Stationary"},{"LabelName":"Activity","Label":"Vertical"}],"expert_mode":true}