{"id":23,"name":"ChristTest2 Template","version":"1.0.0","metadata":[{"Name":"Subjects","Clue":"Subjects","MaxLengthConstraint":50,"MinValueConstraint":0,"IsCustomValue":true,"SelectionList":null}],"task_list":[{"LabelName":"Gesture","Label":"A","Title":"A","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"D","Title":"D","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"M","Title":"M","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30},{"LabelName":"Gesture","Label":"U","Title":"U","Instructions":null,"CapturesNeeded":5,"SecondsPerCapture":30}],"expert_mode":true}